/* Global Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.logocontainer {
  background-color: #0D3B66;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  text-decoration-color: #ffffff;
}

.menu h2 {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #0D3B66;
  padding: 10px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #0D3B66;
  color: #ffffff;
}

.display-container {
  text-align: center;
  margin-top: 20px;
}

.display-container img.slide {
  max-width: 100%;
  border-radius: 8px;
}

.flushy { 
  display: inline-block;
  background-color: #0D3B66;
  color: #ffffff;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-decoration: none;
}

.flushy:hover {
  background-color: #0a2d4e;
}

h6 {
  text-align: center;
  color: #333;
  margin-top: 30px;
}

p {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

/* Main Content Styling */

header {
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
  padding: 0.5rem;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  background-color: #003366;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #e6f3ff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

li strong {
  color: #003366;
}

section {
  margin-bottom: 20px;
}

section#contact-us {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
}

address {
  margin-top: 10px;
}

address a {
  color: #003366;
}

footer {
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

footer p {
  margin: 0;
  padding: 0.5rem;
}


/* Login Form Styling */
#login-form {
  max-width: 300px;
  margin: 0 auto;
}

#login-form label,
#login-form input,
#login-form button {
  display: block;
  margin-bottom: 15px;
}

#login-form button {
  padding: 10px 20px;
  background-color:  #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Queue Table Styling */
#queue-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
}

#queue-table th,
#queue-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #a51212;
}

#queue-table th {
  background-color: #003366;
  color: white;
}

/* Form Styling */
.container1 {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:#f5f5f5 ;
  border: 1px solid #ddd;
}
.container2 {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #50b3a2;
}

h1, h2 {
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
}

button[type="button"] {
  background-color: #ddd;
}

button:hover {
  opacity: 0.8;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.eye-catching {
  font-size: 14px;
  font-weight: bold;
  background-color: #007bff;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none; 
  color: white; 
  transition: background-color 0.3s ease-in-out; 
}

/* Change background on hover */
.eye-catching:hover {
  background-color: #11b9df;
  
}  
.breadcrumb {
  padding: 10px 0;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.breadcrumb li {
  display: inline;
  font-size: 16px;
  color: #6c757d; 
}

.breadcrumb li + li:before {
  content: ">";
  margin: 0 10px;
  color: #6c757d; 
}

.breadcrumb a {
  color: #007bff; 
  text-decoration: none;
  transition: color 0.3s;
}

.breadcrumb a:hover {
  color: #0056b3; 
}

.breadcrumb li:last-child {
  font-weight: bold;
}

.button1{
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
}